.card-staff-landing 
{
    width:380px;
    background-color: white;
}
.img-staff 
{
    width:340px;
    margin-top: 70px;
    margin-left: 15px;
}
.img-staff-1 
{
    margin-left: 18px;
    margin-top:15px;
    width:340px;
}